*~
*.suo
*.user
bin/
obj/
Debug/
DebugDLL/
DebugStaticLib/
Release/
ReleaseDLL/
ReleaseStaticLib/
*.ncb
*.sdf
*Thumbs.db
*.ipch
*.vcxproj.filters
*.opensdf
*.sln.cache
ipch/
UpgradeLog*
XenGuestAgent/XenGuestAgent_i.c
XenGuestAgent/XenGuestAgent_i.h
XenGuestAgent/XenGuestAgent_p.c
_UpgradeReport_Files/
XenGuestAgent/dlldata.c
XenGuestAgent/xgamsg.h
XenGuestAgent/xgamsg.rc
*.wixobj
XenClientGuestService/Bindings/gen/
XenClientGuestService/Tests/XenClientGuestServiceAndClientConsoleTest/gen/
XenClientGuestService/BuildLogs/

XenGuestAgent/Messages_de.bin
XenGuestAgent/Messages_en.bin
XenGuestAgent/Messages_es.bin
XenGuestAgent/Messages_fr.bin
XenGuestAgent/Messages_ja.bin
XenGuestAgent/Messages_zh_CN.bin
XenGuestAgent/xgamsg.de.h
XenGuestAgent/xgamsg.de.rc
XenGuestAgent/xgamsg.es.h
XenGuestAgent/xgamsg.es.rc
XenGuestAgent/xgamsg.fr.h
XenGuestAgent/xgamsg.fr.rc
XenGuestAgent/xgamsg.ja.h
XenGuestAgent/xgamsg.ja.rc
XenGuestAgent/xgamsg.zh-CN.h
XenGuestAgent/xgamsg.zh-CN.rc
