STRINGTABLE 
BEGIN
    IDS_SERVICENAME         "XenGuestAgent"
    IDS_XENWIRELESS         "<?xml version=""1.0""?>\n<WLANProfile xmlns=""http://www.microsoft.com/networking/WLAN/profile/v1"">\n\t<name>XenClient Wireless</name>\n\t<SSIDConfig>\n\t\t<SSID>\n\t\t\t<name>XenClient Wireless</name>\n\t\t</SSID>\n\t</SSIDConfig>\n\t<connectionType>ESS</connectionType>\n\t<connectionMode>auto</connectionMode>\n\t<MSM>\n\t\t<security>\n\t\t\t<authEncryption>\n\t\t\t\t<authentication>open</authentication>\n\t\t\t\t<encryption>none</encryption>\n\t\t\t\t<useOneX>false</useOneX>\n\t\t\t</authEncryption>\n\t\t\t</security>\n\t</MSM>\n</WLANProfile>\n"
    IDS_DISPLAYNAME         "Citrix Xen Guest Services"
    IDS_SERVICEDESC         "Ofrece servicios de invitado para dominios de usuarios de Xen."
    IDS_ATLBASE_NO_HANDLER            "Controlador no instalado"
    IDS_ATLBASE_SERVICE_STOPPED       "Servicio detenido"
    IDS_ATLBASE_SERVICE_STARTED       "Servicio iniciado"
    IDS_ATLBASE_BAD_SERVICE           "Solicitud de servicio no válida"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_FAILED_TO_CREATE_OBJECT_LOCK___H_XENGUESTSERVICES_24          "No se pudo crear el bloqueo de objeto - HRESULT: 0x%x"
   IDS_FAILED_TO_OPEN_XENSTORE___HRESUL_XENGUESTSERVICES_32          "No se pudo abrir XenStore - HRESULT: 0x%x"
   IDS_FAILED_TO_INITIALIZE_VM_VALUES___XENGUESTSERVICES_53          "No se pudo inicializar los valores de la VM - HRESULT: 0x%x"
   IDS_MAXIMUM_INSTANCE_COUNT_REACHED___XENGUESTSERVICES_61          "Se alcanzó el número máximo de instancias - HRESULT: 0x%x"
   IDS_FAILED_TO_CREATE_VMS_EVENT_GUID__XENGUESTSERVICES_474         "No se pudo crear un GUID de suceso de VMS - HRESULT: 0x%x"
   IDS_FAILED_TO_CREATE_VMS_EVENT___HRE_XENGUESTSERVICES_492         "No se pudo crear un suceso de VMS - HRESULT: 0x%x"
   IDS_FAILED_TO_CREATE_ALERTS_EVENT_GU_XENGUESTSERVICES_532         "No se pudo crear un GUID de suceso de alertas - HRESULT: 0x%x"
   IDS_FAILED_TO_CREATE_ALERTS_EVENT____XENGUESTSERVICES_550         "No se pudo crear un suceso de alertas - HRESULT: 0x%x"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_PRINCIPAL__zS_PERMISSION__zS_OPE_XENSECURITYHELPER_35         "PRINCIPAL: %s PERMISO: %s OPERACIÓN: %s ERROR: %d"
   IDS_DENY_CHECK_FAILURE___PERMISSION__XENSECURITYHELPER_1244       "FALLO DE RECHAZO DE COMPROBACIÓN - PERMISO: %s OPERACIÓN: %s ERROR: %d"
   IDS_DENY_REMOTE_CHECK_FOR_zS_DETECTE_XENSECURITYHELPER_1279       "La comprobación de rechazo de acceso remoto de %s detectó que el acceso remoto está permitido"
   IDS_ACCESSPERMISSION_XENSECURITYHELPER_1281                       "AccessPermission"
   IDS_LAUNCHPERMISSION_LAUNCH_XENSECURITYHELPER_1303                "LaunchPermission-Launch"
   IDS_LAUNCHPERMISSION_ACTIVATE_XENSECURITYHELPER_1311              "LaunchPermission-Activate"
   IDS_DENY_CHECK_FOUND_NO_SD_DACL_FOR__XENSECURITYHELPER_1431       "La comprobación de rechazo de acceso no encontró la DACL de SD para %s. Puede que el acceso se deniegue para todos"
   IDS_LAUNCHPERMISSION_XENSECURITYHELPER_1478                       "LaunchPermission"
   IDS_FAILED_TO_ALLOCATE_SECURITY_ATTR_XENSECURITYHELPER_1559       "No se pudo asignar SECURITY_ATTRIBUTES"
   IDS_FAILED_TO_CREATE_SECURITY_DESCRI_XENSECURITYHELPER_1569       "No se pudo crear un descriptor de seguridad - error: %d"
   IDS_FAILED_TO_GET_SIZES_FROM_MAKEABS_XENSECURITYHELPER_1614       "No se pudo obtener tamaños de MakeAbsoluteSD - error: %d"
   IDS_FAILED_TO_ALLOCATE_SECURITY_DESC_XENSECURITYHELPER_1625       "No se pudo asignar SECURITY_DESCRIPTOR"
   IDS_FAILED_CREATE_SD_IN_MAKEABSOLUTE_XENSECURITYHELPER_1644       "No se pudo crear SD en MakeAbsoluteSD - error: %d"
   IDS_FAILED_TO_ALLOCATE_XSH_DESCRIPTO_XENSECURITYHELPER_1689       "No se pudo asignar XSH_DESCRIPTOR"
   IDS_FAILED_TO_INITIALIZE_COM_SID___E_XENSECURITYHELPER_1699       "No se pudo inicializar COM SID - error: %d"
   IDS_FAILED_TO_ALLOCATE_PINTERACTIVSI_XENSECURITYHELPER_1709       "no pudo asignar SID de pInteractivSID"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_FAILED_TO_ALLOCATE_ADMINS_SID_XENSECURITYHELPER_1718          "No se pudo asignar SID de Admins"
   IDS_FAILED_CREATEWELLKNOWNSID_PINTER_XENSECURITYHELPER_1727       "CreateWellKnownSid(pInteractivSID) falló - error: %d"
   IDS_FAILED_CREATEWELLKNOWNSID_PADMIN_XENSECURITYHELPER_1736       "CreateWellKnownSid(pAdminsSID) falló - error: %d"
   IDS_FAILED_SETENTRIESINACL_PINTERACT_XENSECURITYHELPER_1755       "SetEntriesInAcl(pInteractivSID) falló - error: %d"
   IDS_FAILED_TO_SET_ADMINS_SID_AS_OWNE_XENSECURITYHELPER_1765       "No se pudo definir Admins SID como propietario - error: %d"
   IDS_FAILED_TO_SET_ADMINS_SID_AS_GROU_XENSECURITYHELPER_1773       "No se pudo definir Admins SID como grupo - error: %d"
   IDS_FAILED_TO_SET_DACL_FOR_SD___ERRO_XENSECURITYHELPER_1782       "No se pudo definir DACL para SD - error: %d"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_FAILED_TO_CONNECT_TO_BACKEND___E_XENHTTP_213                  "No se pudo conectar al backend - error: %d"
   IDS_ATTEMPTING_TO_REUSE_CXENHTTP_WIT_XENHTTP_292                  "Intento de reutilizar CXenHttp sin restablecerlo - esto es un fallo de programa"
   IDS_FAILED_TO_SEND_zS___ERROR__zD_XENHTTP_327                     "No se pudo enviar %s - error: %d"
   IDS_FAILED_TO_SEND_zS___NOT_ALL_DATA_XENHTTP_334                  "No se pudo enviar %s - no se escribieron todos los datos"
   IDS_FAILED_TO_SEND_zS_DATA___ERROR___XENHTTP_354                  "No se pudo enviar los datos de %s - error: %d"
   IDS_FAILED_TO_SEND_zS_DATA___NOT_ALL_XENHTTP_361                  "No se pudo enviar los datos de %s - no se escribieron todos los datos"
   IDS_zS_HEADER_TIMEOUT_AFTER_zD_MS_XENHTTP_385                     "Tiempo de espera de encabezado de %s de %d ms"
   IDS_FAILURE_DURING_WAITFORMULTIPLEOB_XENHTTP_393                  "Fallo durante WaitForMultipleObjects para encabezado de %s - error: %d"
   IDS_FAILED_TO_READ_zS_HEADER___ERROR_XENHTTP_408                  "No se pudo leer el encabezado de %s - error: %d"
   IDS_FAILED_TO_READ_zS_HEADER___NO_DA_XENHTTP_415                  "No se pudo leer el encabezado de %s - no se leyeron datos"
   IDS_FAILED_TO_PROCESS_zS_RESPONSE____XENHTTP_425                  "No se pudo procesar la respuesta de %s - Error de HTTP: %d"
   IDS_INVALID_CONTENT_LENGTH_SPECIFIED_XENHTTP_437                  "Content-Length no válida especificada"
   IDS_SAFEARRAYACCESSDATA___FAILED___H_XENHTTP_452                  "Fallo de SafeArrayAccessData() - HRESULT: 0x%x"
   IDS_zS_DATA_TIMEOUT_AFTER_zD_MS_XENHTTP_476                       "Tiempo de espera de los datos de %s de %d ms"
   IDS_FAILURE_DURING_WAITFORMULTIPLEOB_XENHTTP_485                  "Fallo durante WaitForMultipleObjects en los datos de %s - error: %d"
   IDS_FAILED_TO_READ_zS_DATA___ERROR___XENHTTP_499                  "No se pudo leer los datos de %s - error: %d"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_FAILED_TO_READ_zS_DATA___NO_DATA_XENHTTP_506                  "No se pudo leer los datos de %s - no se leyeron datos"
   IDS_CRITICAL_FAILURE___zS_VALUE_READ_XENHTTP_514                  "Fallo grave - El valor leído de %s es > que el restante"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_SETUPPARAMETERKEY_COULD_NOT_CREA_XENGUESTAGENT_106            "SetupParameterKey no pudo crear la clave de parámetros"
   IDS_SETUPPARAMETERKEY_COULD_NOT_SET__XENGUESTAGENT_115            "SetupParameterKey no pudo definir LogCommunicationErrors"
   IDS_SETUPPARAMETERKEY_COULD_NOT_SET__XENGUESTAGENT_123            "SetupParameterKey no pudo definir LogOperationErrors"
   IDS_REGISTEREVENTSOURCE_COULD_NOT_OP_XENGUESTAGENT_145            "RegisterEventSource no pudo abrir la clave de registros de sucesos"
   IDS_REGISTEREVENTSOURCE_COULD_NOT_CR_XENGUESTAGENT_155            "RegisterEventSource no pudo crear una nueva clave de registros de sucesos"
   IDS_REGISTEREVENTSOURCE_COULD_NOT_SE_XENGUESTAGENT_165            "RegisterEventSource no pudo definir el origen de mensajes de registro"
   IDS_REGISTEREVENTSOURCE_COULD_NOT_SE_XENGUESTAGENT_176            "RegisterEventSource no pudo definir los tipos de sucesos permitidos"
   IDS_UNREGISTEREVENTSOURCE_COULD_NOT__XENGUESTAGENT_193            "UnregisterEventSource no pudo quitar la clave de sucesos de registros"
   IDS_UPDATESERVICEREGISTRY_COULD_NOT__XENGUESTAGENT_233            "UpdateServiceRegistry no pudo abrir SCM - error: 0x%x"
   IDS_UPDATESERVICEREGISTRY_COULD_NOT__XENGUESTAGENT_244            "UpdateServiceRegistry no pudo abrir un servicio - error: 0x%x"
   IDS_UPDATESERVICEREGISTRY_CHANGE_SER_XENGUESTAGENT_264            "UpdateServiceRegistry change service config - error: 0x%x"
   IDS_UPDATESERVICEREGISTRY_CHANGE_SER_XENGUESTAGENT_275            "UpdateServiceRegistry change service config 2 - error: 0x%x"
   IDS_FAILED_TO_LOAD_XS2_LIBRARY___ERR_XENGUESTAGENT_413            "no pudo cargar la biblioteca xs2 - ERROR: %d"
   IDS_FAILED_TO_START__SERVICE_SHOULD__XENGUESTAGENT_439            "No se pudo iniciar. El servicio debe iniciarse desde el Administrador de control de servicios y no ejecutarse directamente como un ejecutable"
   IDS_FAILED_TO_START_SERVICE_XENGUESTAGENT_459                     "No se pudo iniciar el servicio"
   IDS_GETVERSIONEX_FAILED_____ERROR__z_XENGUESTAGENT_537            "Fallo de GetVersionEx - ERROR: %d"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_FAILED_TO_CREATE_SHUTDOWN_EVENT__XENGUESTAGENT_545            "no pudo crear un suceso de apagado - ERROR: %d"
   IDS_FAILED_TO_CREATE_VMS_EVENT___ERR_XENGUESTAGENT_553            "no pudo crear un suceso de VMS - ERROR: %d"
   IDS_FAILED_TO_CREATE_VMS_VECTOR_LOCK_XENGUESTAGENT_561            "no pudo crear un bloqueo de vector de VMS - ERROR: %d"
   IDS_FAILED_TO_CREATE_ALERTS_VECTOR_L_XENGUESTAGENT_569            "no pudo crear un bloqueo de vector de alertas - ERROR: %d"
   IDS_XS2OPEN_FAILED_FOR_START__NOT_RU_XENGUESTAGENT_689            "XS2Open falló para Iniciar (¿No se ejecuta en Xen?) - ERROR: %d"
   IDS_XS2READ_FAILED_FOR_VM___ERROR__z_XENGUESTAGENT_697            "XS2Read falló para vm - ERROR: %d"
   IDS_FAILED_TO_START_TASK_THREAD___ER_XENGUESTAGENT_730            "no pudo iniciar el proceso de tarea - ERROR: %d"
   IDS_FAILED_TO_START_VMS_WATCH_THREAD_XENGUESTAGENT_739            "no pudo iniciar el proceso de observación de VMS - ERROR: %d"
   IDS_FAILED_TO_START_ALERTS_WATCH_THR_XENGUESTAGENT_748            "no pudo iniciar el proceso de observación de Alertas - ERROR: %d"
   IDS_XS2OPEN_FAILED_FOR_LOADVMS___ERR_XENGUESTAGENT_1090           "XS2Open falló para LoadVms - ERROR: %d"
   IDS_XS2DIRECTORY_NO_VMS_RETURNED____XENGUESTAGENT_1101            "XS2Directory no VMs returned???"
   IDS_FAILED_TO_RETURN_SYSTEM_DIRECTOR_XENGUESTAGENT_1248           "No se pudo devolver el directorio del sistema"
   IDS_FAILED_TO_LAUNCH_POWERCFG_TOOL___XENGUESTAGENT_1261           "No se pudo iniciar la herramienta powercfg: Error: %d"
   IDS_FAILURE_RETURNED_FROM_POWEROPTS__XENGUESTAGENT_1282           "Error devuelto por poweropts - ERROR: %d"
   IDS_WLANPROF__WLANAPI_DLL_NOT_FOUND_XENGUESTAGENT_1302            "WLANPROF: WLANAPI.DLL no encontrada"
   IDS_WLANPROF__ERROR_LOADING_WIFI_API_XENGUESTAGENT_1306           "WLANPROF: Error al cargar procedimiento(s) API de Wifi"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_WLANPROF__ERROR_GETTING_LIST_OF__XENGUESTAGENT_1310           "WLANPROF: Error al obtener la lista de interfaces de dispositivo: Estado de WLAN = %d"
   IDS_WLANPROF__ERROR_ADDING_AP__WLAN__XENGUESTAGENT_1314           "WLANPROF: Error al agregar AP: Estado de WLAN= %d"
   IDS_WLANPROF__UNKNOWN_FAILURE_ENCOUN_XENGUESTAGENT_1318           "WLANPROF: Fallo desconocido: %d"
   IDS_XS2OPEN_FAILED_FOR_WATCHES___ERR_XENGUESTAGENT_1339           "XS2Open falló para las observaciones - ERROR: %d"
   IDS_FAILED_TO_OPEN_XENSTORE_VMS_WATC_XENGUESTAGENT_1349           "No se pudo abrir la observación de VMS de XenStore - ERROR: %d"
   IDS_XS_WATCH_THREAD_SHUTTING_DOWN__XENGUESTAGENT_1359             "Proceso de XS Watch apagándose."
   IDS_WAIT_FAILED_DURING_XS_WATCH_WAIT_XENGUESTAGENT_1370           "WAIT_FAILED during XS watch WaitForMultipleObjects?? - ERROR: %d"
   IDS_UNKNOWN_FAILURE_DURING_XS_WATCH__XENGUESTAGENT_1378           "Unknown failure during XS watch WaitForMultipleObjects?? - ERROR: %d"
   IDS_RECEIVED_XCDIAG_REQUEST_XENGUESTAGENT_1414                    "Solicitud de xcdiag recibida"
   IDS_FAILED_TO_LAUNCH_XCDIAG_TOOL___E_XENGUESTAGENT_1430           "No se pudo iniciar la herramienta de xcdiag: Error: %d"
   IDS_FAILED_TO_OPEN_XCDIAG_OUTPUT_FIL_XENGUESTAGENT_1465           "No se pudo abrir el archivo de resultados de xcdiag"
   IDS_XCDIAG_OUTPUT_FILE_APPEARS_EMPTY_XENGUESTAGENT_1476           "El archivo de resultados de xcdiag parece estar vacío"
   IDS_FAILED_TO_ALLOCATE_MEMORY_FOR_XC_XENGUESTAGENT_1486           "No se pudo asignar memoria para el resultado de xcdiag"
   IDS_FAILED_TO_ACCESS_XCDIAG_FILE_XENGUESTAGENT_1502               "No se pudo acceder al archivo xcdiag"
   IDS_FAILED_TO_VIEW_XCDIAG_OUTPUT_XENGUESTAGENT_1520               "No se pudo ver el resultado de xcdiag"
   IDS_XCDIAG_ZIP_FILE_SENT__XENGUESTAGENT_1591                      "Archivo zip de xcdiag enviado."
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_DOPOST___OPERATION_FAILED___ERRO_XENGUESTAGENT_1596           "Falló la operación de DoPOST() - error: %d  Código de HTTP: %d"
   IDS_DOGET___FAILED_TO_REGISTER_FOR_A_XENGUESTAGENT_1652           "DoGET() no pudo registrarse para señales de alerta - error: %d  Código HTTP: %d. Interfaz: %s"
   IDS_FAILED_TO_OPEN_V4V_CHANNEL_ON_FI_XENGUESTAGENT_1721           "No se pudo abrir el canal V4V al primer intento; se volverá a intentar - HRESULT: 0x%x"
   IDS_FAILED_TO_PARSE_JSON_SIGNAL___ER_XENGUESTAGENT_1759           "No se pudo analizar la señal de JSON - error: %s"
   IDS_SAFEARRAYACCESSDATA___FAILED___H_XENGUESTAGENT_1800           "Fallo de SafeArrayAccessData() - HRESULT: 0x%x"
   IDS_ALERTS_THREAD_SHUTTING_DOWN__XENGUESTAGENT_1825               "Proceso de alertas apagándose."
   IDS_DOGET___FAILED_TO_RECEIVE_SIGNAL_XENGUESTAGENT_1831           "DoGET() no pudo recibir la señal - error: %d  Código de HTTP: %d"
   IDS_FAILED_TO_RESET_SIGNAL_REGISTRAT_XENGUESTAGENT_1838           "No se pudo restablecer el registro de la señal"
   IDS_SAFEARRAYCOPY___FAILED___HRESULT_XENGUESTAGENT_1875           "SafeArrayCopy() falló - HRESULT: 0x%x"
   IDS_E_OUTOFMEMORY___HRESULT__0XzX_XENGUESTAGENT_1881              "E_OUTOFMEMORY - HRESULT: 0x%x"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_SAFEARRAYACCESSDATA___FAILED___H_XENGUESTSERVICES_230         "Fallo de SafeArrayAccessData() - HRESULT: 0x%x"
   IDS_SAFEARRAYACCESSDATA___RETRIEVED__XENGUESTSERVICES_237         "SafeArrayAccessData() obtuvo datos nulos"
   IDS_XS_WATCH_THREAD_SHUTTING_DOWN__XENGUESTSERVICES_301           "Proceso de XS Watch apagándose."
   IDS_DOGET___FAILED___ERROR__zD_HTTP__XENGUESTSERVICES_308         "DoGET() falló - error: %d  Código HTTP: %d"
   IDS_COCREATEINSTANCE_CLSID_XENVMINFO_XENGUESTSERVICES_378         "CoCreateInstance(CLSID_XenVmInfo) falló - HRESULT: 0x%x"
   IDS_QUERYINTERFACE_IXENVMINITIALIZE__XENGUESTSERVICES_385         "QueryInterface(IXenVmInitialize) falló - HRESULT: 0x%x"
   IDS_QUERYINTERFACE_IXENVMINITIALIZE__XENGUESTSERVICES_391         "QueryInterface(IXenVmInitialize) no devolvió un puntero de interfaz - HRESULT: 0x%x"
   IDS_LOADIMAGEUID_FAILED__IMAGE__zS___XENGUESTSERVICES_406         "Falló LoadImageUid, imagen: %s - HRESULT: 0x%x"
   IDS_DELETING_XCIPLUGIN_RUN_VALUE_FAI_XENGUESTSERVICES_640         "Falló la eliminación del valor XciPlugin Run - ERROR: %d"
   IDS_CREATING_XCIPLUGIN_RUN_VALUE_FAI_XENGUESTSERVICES_652         "Falló la creación del valor XciPlugin Run - ERROR: %d"
   IDS_FAILED_TO_OPEN_XENINP_FILE_HANDL_XENGUESTSERVICES_674         "No se pudo abrir el controlador de archivo XenInp - ERROR: %d"
   IDS_FAILED_TO_SEND_XENINP_IOCTL_ACCE_XENGUESTSERVICES_683         "No se pudo enviar XENINP_IOCTL_ACCELERATION - ERROR: %d"
END
