STRINGTABLE 
BEGIN
    IDS_SERVICENAME         "XenGuestAgent"
    IDS_XENWIRELESS         "<?xml version=""1.0""?>\n<WLANProfile xmlns=""http://www.microsoft.com/networking/WLAN/profile/v1"">\n\t<name>XenClient Wireless</name>\n\t<SSIDConfig>\n\t\t<SSID>\n\t\t\t<name>XenClient Wireless</name>\n\t\t</SSID>\n\t</SSIDConfig>\n\t<connectionType>ESS</connectionType>\n\t<connectionMode>auto</connectionMode>\n\t<MSM>\n\t\t<security>\n\t\t\t<authEncryption>\n\t\t\t\t<authentication>open</authentication>\n\t\t\t\t<encryption>none</encryption>\n\t\t\t\t<useOneX>false</useOneX>\n\t\t\t</authEncryption>\n\t\t\t</security>\n\t</MSM>\n</WLANProfile>\n"
    IDS_DISPLAYNAME         "Citrix Xen-Gastdienste"
    IDS_SERVICEDESC         "Bietet Gastdienste für Xen-Benutzerdomänen."
    IDS_ATLBASE_NO_HANDLER            "Handler nicht installiert."
    IDS_ATLBASE_SERVICE_STOPPED       "Dienst angehalten"
    IDS_ATLBASE_SERVICE_STARTED       "Dienst gestartet"
    IDS_ATLBASE_BAD_SERVICE           "Ungültige Dienstanfrage"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_FAILED_TO_CREATE_OBJECT_LOCK___H_XENGUESTSERVICES_24          "Objektsperre konnte nicht erstellt werden - HRESULT: 0x%x"
   IDS_FAILED_TO_OPEN_XENSTORE___HRESUL_XENGUESTSERVICES_32          "XenStore konnte nicht geöffnet werden - HRESULT: 0x%x"
   IDS_FAILED_TO_INITIALIZE_VM_VALUES___XENGUESTSERVICES_53          "VM-Werte konnten nicht initialisiert werden - HRESULT: 0x%x"
   IDS_MAXIMUM_INSTANCE_COUNT_REACHED___XENGUESTSERVICES_61          "Maximale Instanzanzahl erreicht - HRESULT: 0x%x"
   IDS_FAILED_TO_CREATE_VMS_EVENT_GUID__XENGUESTSERVICES_474         "VMS-Ereignis-GUID konnte nicht erstellt werden - HRESULT: 0x%x"
   IDS_FAILED_TO_CREATE_VMS_EVENT___HRE_XENGUESTSERVICES_492         "VMS-Ereignis konnte nicht erstellt werden - HRESULT: 0x%x"
   IDS_FAILED_TO_CREATE_ALERTS_EVENT_GU_XENGUESTSERVICES_532         "Warnungsereignis-GUID konnte nicht erstellt werden - HRESULT: 0x%x"
   IDS_FAILED_TO_CREATE_ALERTS_EVENT____XENGUESTSERVICES_550         "Warnungsereignis konnte nicht erstellt werden - HRESULT: 0x%x"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_PRINCIPAL__zS_PERMISSION__zS_OPE_XENSECURITYHELPER_35         "PRINZIPAL: %s BERECHTIGUNG: %s VORGANG: %s FEHLER: %d"
   IDS_DENY_CHECK_FAILURE___PERMISSION__XENSECURITYHELPER_1244       "FEHLER BEI VERWEIGERUNGSÜBERPRÜFUNG - BERECHTIGUNG: %s VORGANG: %s FEHLER: %d"
   IDS_DENY_REMOTE_CHECK_FOR_zS_DETECTE_XENSECURITYHELPER_1279       "Remoteverweigerungsüberprüfung für %s hat festgestellt, dass Remotezugriff zugelassen ist!"
   IDS_ACCESSPERMISSION_XENSECURITYHELPER_1281                       "AccessPermission"
   IDS_LAUNCHPERMISSION_LAUNCH_XENSECURITYHELPER_1303                "LaunchPermission-Launch"
   IDS_LAUNCHPERMISSION_ACTIVATE_XENSECURITYHELPER_1311              "LaunchPermission-Activate"
   IDS_DENY_CHECK_FOUND_NO_SD_DACL_FOR__XENSECURITYHELPER_1431       "Verweigerungsüberprüfung hat keine Sicherheitsbeschreibungs-DACL für %s gefunden - möglicherweise hat niemand Zugriff"
   IDS_LAUNCHPERMISSION_XENSECURITYHELPER_1478                       "LaunchPermission"
   IDS_FAILED_TO_ALLOCATE_SECURITY_ATTR_XENSECURITYHELPER_1559       "SECURITY_ATTRIBUTES konnte nicht zugewiesen werden"
   IDS_FAILED_TO_CREATE_SECURITY_DESCRI_XENSECURITYHELPER_1569       "Sicherheitsbeschreibung konnte nicht erstellt werden - Fehler: %d"
   IDS_FAILED_TO_GET_SIZES_FROM_MAKEABS_XENSECURITYHELPER_1614       "Größen von MakeAbsoluteSD konnten nicht abgerufen werden - Fehler: %d"
   IDS_FAILED_TO_ALLOCATE_SECURITY_DESC_XENSECURITYHELPER_1625       "SECURITY_DESCRIPTOR konnte nicht zugewiesen werden"
   IDS_FAILED_CREATE_SD_IN_MAKEABSOLUTE_XENSECURITYHELPER_1644       "Sicherheitsbeschreibung in MakeAbsoluteSD konnte nicht erstellt werden - Fehler: %d"
   IDS_FAILED_TO_ALLOCATE_XSH_DESCRIPTO_XENSECURITYHELPER_1689       "XSH_DESCRIPTOR konnte nicht zugewiesen werden"
   IDS_FAILED_TO_INITIALIZE_COM_SID___E_XENSECURITYHELPER_1699       "COM-SID konnte nicht zugewiesen werden - Fehler: %d"
   IDS_FAILED_TO_ALLOCATE_PINTERACTIVSI_XENSECURITYHELPER_1709       "pInteractivSID-SID konnte nicht zugewiesen werden"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_FAILED_TO_ALLOCATE_ADMINS_SID_XENSECURITYHELPER_1718          "Administrator-SID konnte nicht zugewiesen werden"
   IDS_FAILED_CREATEWELLKNOWNSID_PINTER_XENSECURITYHELPER_1727       "CreateWellKnownSid(pInteractivSID) fehlgeschlagen - Fehler: %d"
   IDS_FAILED_CREATEWELLKNOWNSID_PADMIN_XENSECURITYHELPER_1736       "CreateWellKnownSid(pAdminsSID) fehlgeschlagen - Fehler: %d"
   IDS_FAILED_SETENTRIESINACL_PINTERACT_XENSECURITYHELPER_1755       "SetEntriesInAcl(pInteractivSID) fehlgeschlagen - Fehler: %d"
   IDS_FAILED_TO_SET_ADMINS_SID_AS_OWNE_XENSECURITYHELPER_1765       "Administrator-SID konnte nicht als Besitzer festgelegt werden - Fehler: %d"
   IDS_FAILED_TO_SET_ADMINS_SID_AS_GROU_XENSECURITYHELPER_1773       "Administrator-SID konnte nicht als Gruppe festgelegt werden - Fehler: %d"
   IDS_FAILED_TO_SET_DACL_FOR_SD___ERRO_XENSECURITYHELPER_1782       "DACL für Sicherheitsbeschreibung konnte nicht festgelegt werden - Fehler: %d"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_FAILED_TO_CONNECT_TO_BACKEND___E_XENHTTP_213                  "Verbindung zum Backend nicht möglich - Fehler: %d"
   IDS_ATTEMPTING_TO_REUSE_CXENHTTP_WIT_XENHTTP_292                  "Wiederverwendung von CXenHttp ohne Zurücksetzen wird versucht - dies ist ein Fehler!"
   IDS_FAILED_TO_SEND_zS___ERROR__zD_XENHTTP_327                     "%s konnte nicht gesendet werden - Fehler: %d"
   IDS_FAILED_TO_SEND_zS___NOT_ALL_DATA_XENHTTP_334                  "%s konnte nicht gesendet werden - nicht alle Daten geschrieben"
   IDS_FAILED_TO_SEND_zS_DATA___ERROR___XENHTTP_354                  "%s-Daten konnten nicht gesendet werden - Fehler: %d"
   IDS_FAILED_TO_SEND_zS_DATA___NOT_ALL_XENHTTP_361                  "%s-Daten konnten nicht gesendet werden - nicht alle Daten geschrieben"
   IDS_zS_HEADER_TIMEOUT_AFTER_zD_MS_XENHTTP_385                     "%s-Header-Timeout nach %d ms"
   IDS_FAILURE_DURING_WAITFORMULTIPLEOB_XENHTTP_393                  "Fehler während WaitForMultipleObjects für %s-Header - Fehler: %d"
   IDS_FAILED_TO_READ_zS_HEADER___ERROR_XENHTTP_408                  "%s-Header konnte nicht gelesen werden - Fehler: %d"
   IDS_FAILED_TO_READ_zS_HEADER___NO_DA_XENHTTP_415                  "%s-Header konnte nicht gelesen werden - keine Daten gelesen"
   IDS_FAILED_TO_PROCESS_zS_RESPONSE____XENHTTP_425                  "%s-Antwort konnte nicht verarbeitet werden - HTTP-Fehler: %d"
   IDS_INVALID_CONTENT_LENGTH_SPECIFIED_XENHTTP_437                  "Ungültige Inhaltslänge angegeben"
   IDS_SAFEARRAYACCESSDATA___FAILED___H_XENHTTP_452                  "SafeArrayAccessData() fehlgeschlagen - HRESULT: 0x%x"
   IDS_zS_DATA_TIMEOUT_AFTER_zD_MS_XENHTTP_476                       "%s-Daten-Timeout nach %d ms"
   IDS_FAILURE_DURING_WAITFORMULTIPLEOB_XENHTTP_485                  "Fehler während WaitForMultipleObjects für %s-Daten - Fehler: %d"
   IDS_FAILED_TO_READ_zS_DATA___ERROR___XENHTTP_499                  "%s-Daten konnten nicht gelesen werden - Fehler: %d"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_FAILED_TO_READ_zS_DATA___NO_DATA_XENHTTP_506                  "%s-Daten konnten nicht gelesen werden - keine Daten gelesen"
   IDS_CRITICAL_FAILURE___zS_VALUE_READ_XENHTTP_514                  "Schwerwiegender Fehler - Gelesener %s-Wert ist geringer als der verbleibende Wert!"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_SETUPPARAMETERKEY_COULD_NOT_CREA_XENGUESTAGENT_106            "SetupParameterKey konnte keine Parameterschlüssel erstellen"
   IDS_SETUPPARAMETERKEY_COULD_NOT_SET__XENGUESTAGENT_115            "SetupParameterKey konnte LogCommunicationErrors nicht festlegen"
   IDS_SETUPPARAMETERKEY_COULD_NOT_SET__XENGUESTAGENT_123            "SetupParameterKey konnte LogOperationErrors nicht festlegen"
   IDS_REGISTEREVENTSOURCE_COULD_NOT_OP_XENGUESTAGENT_145            "RegisterEventSource konnte Ereignisprotokollierungsschlüssel nicht öffnen"
   IDS_REGISTEREVENTSOURCE_COULD_NOT_CR_XENGUESTAGENT_155            "RegisterEventSource konnte keinen neuen Ereignisprotokollierungsschlüssel erstellen"
   IDS_REGISTEREVENTSOURCE_COULD_NOT_SE_XENGUESTAGENT_165            "RegisterEventSource konnte Protokollmeldungsquelle nicht festlegen"
   IDS_REGISTEREVENTSOURCE_COULD_NOT_SE_XENGUESTAGENT_176            "RegisterEventSource konnte keine zulässigen Ereignistypen festlegen"
   IDS_UNREGISTEREVENTSOURCE_COULD_NOT__XENGUESTAGENT_193            "UnregisterEventSource konnte Ereignisprotokollierungsschlüssel nicht entfernen"
   IDS_UPDATESERVICEREGISTRY_COULD_NOT__XENGUESTAGENT_233            "UpdateServiceRegistry konnte SCM nicht öffnen - Fehler: 0x%x"
   IDS_UPDATESERVICEREGISTRY_COULD_NOT__XENGUESTAGENT_244            "UpdateServiceRegistry konnte Dienst nicht öffnen - Fehler: 0x%x"
   IDS_UPDATESERVICEREGISTRY_CHANGE_SER_XENGUESTAGENT_264            "UpdateServiceRegistry change service config - error: 0x%x"
   IDS_UPDATESERVICEREGISTRY_CHANGE_SER_XENGUESTAGENT_275            "UpdateServiceRegistry change service config 2 - error: 0x%x"
   IDS_FAILED_TO_LOAD_XS2_LIBRARY___ERR_XENGUESTAGENT_413            "xs2-Bibliothek konnte nicht geladen werden - FEHLER: %d"
   IDS_FAILED_TO_START__SERVICE_SHOULD__XENGUESTAGENT_439            "Start fehlgeschlagen. Dienst sollte vom Dienststeuerungs-Manager gestartet und nicht direkt als ausführbare Datei ausgeführt werden."
   IDS_FAILED_TO_START_SERVICE_XENGUESTAGENT_459                     "Dienst konnte nicht gestartet werden"
   IDS_GETVERSIONEX_FAILED_____ERROR__z_XENGUESTAGENT_537            "GetVersionEx fehlgeschlagen!! - FEHLER: %d"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_FAILED_TO_CREATE_SHUTDOWN_EVENT__XENGUESTAGENT_545            "Herunterfahr-Ereignis konnte nicht erstellt werden - FEHLER: %d"
   IDS_FAILED_TO_CREATE_VMS_EVENT___ERR_XENGUESTAGENT_553            "VMS-Ereignis konnte nicht erstellt werden - FEHLER: %d"
   IDS_FAILED_TO_CREATE_VMS_VECTOR_LOCK_XENGUESTAGENT_561            "VMS-Vektorsperre konnte nicht erstellt werden - FEHLER: %d"
   IDS_FAILED_TO_CREATE_ALERTS_VECTOR_L_XENGUESTAGENT_569            "Warnungsvektorsperre konnte nicht erstellt werden - FEHLER: %d"
   IDS_XS2OPEN_FAILED_FOR_START__NOT_RU_XENGUESTAGENT_689            "XS2Open beim Start fehlgeschlagen (nicht unter Xen ausgeführt?) - FEHLER: %d"
   IDS_XS2READ_FAILED_FOR_VM___ERROR__z_XENGUESTAGENT_697            "XS2Read für VM fehlgeschlagen - FEHLER: %d"
   IDS_FAILED_TO_START_TASK_THREAD___ER_XENGUESTAGENT_730            "Aufgabenthread konnte nicht gestartet werden - FEHLERNUMMER: %d"
   IDS_FAILED_TO_START_VMS_WATCH_THREAD_XENGUESTAGENT_739            "VMS-Überwachungsthread konnte nicht erstellt werden - FEHLERNUMMER: %d"
   IDS_FAILED_TO_START_ALERTS_WATCH_THR_XENGUESTAGENT_748            "Warnungüberwachungsthread konnte nicht gestartet werden - FEHLERNUMMER: %d"
   IDS_XS2OPEN_FAILED_FOR_LOADVMS___ERR_XENGUESTAGENT_1090           "XS2Open für LoadVms fehlgeschlagen - FEHLER: %d"
   IDS_XS2DIRECTORY_NO_VMS_RETURNED____XENGUESTAGENT_1101            "XS2Directory no VMs returned???"
   IDS_FAILED_TO_RETURN_SYSTEM_DIRECTOR_XENGUESTAGENT_1248           "Systemverzeichnis konnte nicht zurückgegeben werden"
   IDS_FAILED_TO_LAUNCH_POWERCFG_TOOL___XENGUESTAGENT_1261           "powercfg-Tool konnte nicht gestartet werden: Fehler: %d"
   IDS_FAILURE_RETURNED_FROM_POWEROPTS__XENGUESTAGENT_1282           "poweropts hat einen Fehler zurückgegeben - FEHLER: %d"
   IDS_WLANPROF__WLANAPI_DLL_NOT_FOUND_XENGUESTAGENT_1302            "WLANPROF: WLANAPI.DLL nicht gefunden"
   IDS_WLANPROF__ERROR_LOADING_WIFI_API_XENGUESTAGENT_1306           "WLANPROF: Fehler beim Laden von Wifi-API-Prozedur(en)"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_WLANPROF__ERROR_GETTING_LIST_OF__XENGUESTAGENT_1310           "WLANPROF: Fehler beim Abrufen der Geräteoberflächenliste: WLAN-Status = %d"
   IDS_WLANPROF__ERROR_ADDING_AP__WLAN__XENGUESTAGENT_1314           "WLANPROF: Fehler beim Hinzufügen von AP: WLAN-Status = %d"
   IDS_WLANPROF__UNKNOWN_FAILURE_ENCOUN_XENGUESTAGENT_1318           "WLANPROF: Unbekannter Fehler aufgetreten: %d"
   IDS_XS2OPEN_FAILED_FOR_WATCHES___ERR_XENGUESTAGENT_1339           "XS2Open fehlgeschlagen für Überprüfungen - FEHLER: %d"
   IDS_FAILED_TO_OPEN_XENSTORE_VMS_WATC_XENGUESTAGENT_1349           "XenStore VMS-Überprüfung konnte nicht geöffnet werden - FEHLER: %d"
   IDS_XS_WATCH_THREAD_SHUTTING_DOWN__XENGUESTAGENT_1359             "XS-Überwachungsthread wird heruntergefahren."
   IDS_WAIT_FAILED_DURING_XS_WATCH_WAIT_XENGUESTAGENT_1370           "WAIT_FAILED during XS watch WaitForMultipleObjects?? - ERROR: %d"
   IDS_UNKNOWN_FAILURE_DURING_XS_WATCH__XENGUESTAGENT_1378           "Unknown failure during XS watch WaitForMultipleObjects?? - ERROR: %d"
   IDS_RECEIVED_XCDIAG_REQUEST_XENGUESTAGENT_1414                    "xcdiag-Anfrage empfangen"
   IDS_FAILED_TO_LAUNCH_XCDIAG_TOOL___E_XENGUESTAGENT_1430           "xcdiag-Tool konnte nicht gestartet werden: Fehler: %d"
   IDS_FAILED_TO_OPEN_XCDIAG_OUTPUT_FIL_XENGUESTAGENT_1465           "xcdiag-Ausgabedatei konnte nicht geöffnet werden."
   IDS_XCDIAG_OUTPUT_FILE_APPEARS_EMPTY_XENGUESTAGENT_1476           "xcdiag-Ausgabedatei ist leer."
   IDS_FAILED_TO_ALLOCATE_MEMORY_FOR_XC_XENGUESTAGENT_1486           "Speicher für xcdiag-Ausgabe konnte nicht zugewiesen werden."
   IDS_FAILED_TO_ACCESS_XCDIAG_FILE_XENGUESTAGENT_1502               "Zugriff auf xcdiag-Datei nicht möglich"
   IDS_FAILED_TO_VIEW_XCDIAG_OUTPUT_XENGUESTAGENT_1520               "xcdiag-Ausgabe konnte nicht angezeigt werden."
   IDS_XCDIAG_ZIP_FILE_SENT__XENGUESTAGENT_1591                      "xcdiag-ZIP-Datei wurde gesendet."
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_DOPOST___OPERATION_FAILED___ERRO_XENGUESTAGENT_1596           "DoPOST()-Vorgang fehlgeschlagen - Fehler: %d  HTTP-Code: %d"
   IDS_DOGET___FAILED_TO_REGISTER_FOR_A_XENGUESTAGENT_1652           "DoGET() konnte Warnungssignale nicht registrieren - Fehler: %d  HTTP-Code: %d. Oberfläche: %s"
   IDS_FAILED_TO_OPEN_V4V_CHANNEL_ON_FI_XENGUESTAGENT_1721           "V4V-Kanal konnte nicht bei erstem Versuch geöffnet werden; es wird erneut versucht - HRESULT: 0x%x"
   IDS_FAILED_TO_PARSE_JSON_SIGNAL___ER_XENGUESTAGENT_1759           "Parsing von JSON-Signal nicht möglich - Fehler: %s"
   IDS_SAFEARRAYACCESSDATA___FAILED___H_XENGUESTAGENT_1800           "SafeArrayAccessData() fehlgeschlagen - HRESULT: 0x%x"
   IDS_ALERTS_THREAD_SHUTTING_DOWN__XENGUESTAGENT_1825               "Warnungs-Thread wird heruntergefahren."
   IDS_DOGET___FAILED_TO_RECEIVE_SIGNAL_XENGUESTAGENT_1831           "DoGET() hat kein Signal empfangen - Fehler: %d  HTTP-Code: %d"
   IDS_FAILED_TO_RESET_SIGNAL_REGISTRAT_XENGUESTAGENT_1838           "Signalregistrierung konnte nicht zurückgesetzt werden."
   IDS_SAFEARRAYCOPY___FAILED___HRESULT_XENGUESTAGENT_1875           "SafeArrayCopy() fehlgeschlagen - HRESULT: 0x%x"
   IDS_E_OUTOFMEMORY___HRESULT__0XzX_XENGUESTAGENT_1881              "E_OUTOFMEMORY - HRESULT: 0x%x"
END
STRINGTABLE DISCARDABLE
BEGIN
   IDS_SAFEARRAYACCESSDATA___FAILED___H_XENGUESTSERVICES_230         "SafeArrayAccessData() fehlgeschlagen - HRESULT: 0x%x"
   IDS_SAFEARRAYACCESSDATA___RETRIEVED__XENGUESTSERVICES_237         "SafeArrayAccessData() hat NULL Daten abgerufen."
   IDS_XS_WATCH_THREAD_SHUTTING_DOWN__XENGUESTSERVICES_301           "XS-Überwachungsthread wird heruntergefahren."
   IDS_DOGET___FAILED___ERROR__zD_HTTP__XENGUESTSERVICES_308         "DoGET() fehlgeschlagen - Fehler: %d  HTTP-Code: %d"
   IDS_COCREATEINSTANCE_CLSID_XENVMINFO_XENGUESTSERVICES_378         "CoCreateInstance(CLSID_XenVmInfo) fehlgeschlagen - HRESULT: 0x%x"
   IDS_QUERYINTERFACE_IXENVMINITIALIZE__XENGUESTSERVICES_385         "QueryInterface(IXenVmInitialize) fehlgeschlagen - HRESULT: 0x%x"
   IDS_QUERYINTERFACE_IXENVMINITIALIZE__XENGUESTSERVICES_391         "QueryInterface(IXenVmInitialize) hat keinen Oberflächenzeiger zurückgegeben - HRESULT: 0x%x"
   IDS_LOADIMAGEUID_FAILED__IMAGE__zS___XENGUESTSERVICES_406         "LoadImageUid fehlgeschlagen, Image: %s - HRESULT: 0x%x"
   IDS_DELETING_XCIPLUGIN_RUN_VALUE_FAI_XENGUESTSERVICES_640         "Löschen von XciPlugin Run-Wert fehlgeschlagen - FEHLER: %d"
   IDS_CREATING_XCIPLUGIN_RUN_VALUE_FAI_XENGUESTSERVICES_652         "Erstellen von XciPlugin Run-Wert fehlgeschlagen - FEHLER: %d"
   IDS_FAILED_TO_OPEN_XENINP_FILE_HANDL_XENGUESTSERVICES_674         "XenInp-Dateihandle konnte nicht geöffnet werden - FEHLER: %d"
   IDS_FAILED_TO_SEND_XENINP_IOCTL_ACCE_XENGUESTSERVICES_683         "XENINP_IOCTL_ACCELERATION konnte nicht gesendet werden - FEHLER: %d"
END
